.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  
  padding: 20px 0;
  
}

.title {
  margin: 0;
}

@media screen and (max-width: 780px) {
  .title {
      font-size: 25px;
  }
}
