.form {
    text-align: center;
}

.text {
    margin: 0;
    font-size: 18px;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.label:last-of-type {
    margin-bottom: 50px;
}

.input {
    width: 300px;

    padding: 5px 10px;
    outline: none;

    border: 1px solid black;
    border-radius: 5px;

    box-sizing: border-box;
    font-size: 15px;
}

.select,
.date {
    width: 300px;
    height: 29px;

    border: 1px solid black;
    border-radius: 5px;

    font-size: 15px;
    text-align: left;
}

@media screen and (max-width: 780px) {

    .input,
    .select,
    .date {
        width: 200px;
        font-size: 13px;
    }

    .select,
    .date {
        height: 27px;
    }

    .text {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .label {
        flex-direction: column;
        align-items: start;
    }

    .label:last-of-type {
        margin-bottom: 30px;
    }

    .input {
        width: 100%;
        font-size: 13px;
        padding: 10px;
    }

    .select,
    .date {
        width: 100%;
        font-size: 13px;
        height: 100%;
    }

    .text {
        font-size: 15px;
    }
}