body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #cdd9d9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  max-width: 1920px;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  #root  {
      width: 90%;
  }
}

@media screen and (max-width: 780px) {
  #root  {
      width: 95%;
  }
}